
<div>
  These are the resources I used to study to get the PSM I certification from Scrum.org
  - https://www.scrumguides.org/scrum-guide.html#team-sm a guide easy to search
  - https://www.scrum.org/open-assessments/scrum-open the open assessments in the scrum.org site
  - https://www.scrum.org/resources/scrum-guide the official scrum guide
  - https://www.agilealliance.org/agile101/12-principles-behind-the-agile-manifesto/ the 12 agile principles
  You can prepare yourself for the exam <button #btnCreateTest>Here</button>
</div>
